<div class="header">
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
      {{ lang }}</option>
  </select>
</div>

<nav class="navbar navbar-light bg-bisque">
  <span class="navbar-brand mb-0 h1 text-center">Angular Assignment - NAGP 2021</span>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer font-small black bg-burlywood">
  <div class="footer-copyright text-center py-3"><b>© 2021 Copyright:Nagp Assignment Kartikay</b>
  </div>
</footer>


