<ol>
    <li *ngFor="let product of products">
        <div>{{product.id}}</div>
        <div>{{product.name}}</div>
        <div>{{product.description}}</div>
        <div>{{product.price}}</div>
        <div>{{product.quantity}}</div>
        <button (click)="increase(product.id)">Increase</button>
        <button (click)="decrease(product.id)">Decrease</button>
        <button (click)="remove(product.id)">Remove</button>
        <img class="product-image" [src]="product.imageUrl" [alt]="product.name">
    </li>
</ol>
<div>Total = {{total()}}</div>
<button *ngIf="products.length" (click)="checkout()">Checkout</button>