<div class="checkout">
<div class="card checkout-form">
  <div class="card-header">
    Checkout Form
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="checkout(checkoutForm)" #checkoutForm="ngForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="name">
          {{ 'CHECKOUT.NAME' | translate }}
        </label>
        <div class="col-md-8">
          <input id="name" name="name" class="form-control" required minlength="4" type="text"
            [(ngModel)]="checkoutObj.name" #name="ngModel" placeholder="Enter Name" [ngClass]="{
              'is-invalid': (name.touched || name.dirty) && !name.valid
            }">
          <span *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger invalid-feedback">
            <span *ngIf="name.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </span>
            <span *ngIf="name.errors?.minlength">
              {{ 'COMMON.MINLENGTH4' | translate }}
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="number">
          {{ 'CHECKOUT.PHONENUMBER' | translate }}
        </label>
        <div class="col-md-8">
          <input id="number" name="number" class="form-control" required type="number" [(ngModel)]="checkoutObj.number"
            #number="ngModel" placeholder="Enter Number" [ngClass]="{
              'is-invalid': (number.touched || number.dirty) && !number.valid
            }">
          <span *ngIf="number.invalid && (number.dirty || number.touched)" class="alert alert-danger invalid-feedback">
            <span *ngIf="number.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="email">
          {{ 'CHECKOUT.EMAIL' | translate }}
        </label>
        <div class="col-md-8">
          <input id="email" name="email" class="form-control" required minlength="4" type="text"
            [(ngModel)]="checkoutObj.email" #email="ngModel" placeholder="Enter Email" [ngClass]="{
              'is-invalid': (email.touched || email.dirty) && !email.valid
            }">
          <span *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger invalid-feedback">
            <span *ngIf="email.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </span>
            <span *ngIf="email.errors?.minlength">
              {{ 'COMMON.MINLENGTH4' | translate }}
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="address">
          {{ 'CHECKOUT.ADDRESS' | translate }}
        </label>
        <div class="col-md-8">
          <input id="address" name="address" class="form-control" required minlength="4" type="text"
            [(ngModel)]="checkoutObj.address" #address="ngModel" placeholder="Enter Address" [ngClass]="{
              'is-invalid': (address.touched || address.dirty) && !address.valid
            }">
          <span *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger invalid-feedback">
            <span *ngIf="address.errors?.required">
              {{ 'COMMON.REQUIRED' | translate }}
            </span>
            <span *ngIf="address.errors?.minlength">
              {{ 'COMMON.MINLENGTH4' | translate }}
            </span>
          </span>
        </div>
      </div>
      <div class="form-group row mb-2" style="justify-content: center;">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="submit" style="width:80px" [title]="
              checkoutForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            " [disabled]="!checkoutForm.valid">
            {{ 'CHECKOUT.SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>