<div class="cart-header">
    <div class="total">{{ 'CART.TOTAL' | translate }} = {{total()}}</div>
    <button class="btn btn-primary" *ngIf="products.length" (click)="checkout()">{{ 'CART.CHECKOUT' | translate }}</button>
</div>
<ul>
    <div class="container">
      <div class="row">
        <div class="card product-card" *ngFor="let product of products">
          <img class="card-img-top" [src]="product.imageUrl" [alt]="product.name">
          <div class="card-body">
            <p class="card-text">{{ 'COMMON.ID' | translate }}: {{product.id}}</p>
            <p class="card-text">{{ 'COMMON.NAME' | translate }}: {{product.name}}</p>
            <p class="card-text">{{ 'COMMON.DESCRIPTION' | translate }}: {{product.description}}</p>
            <p class="card-text">{{ 'COMMON.PRICE' | translate }}: {{product.price}}</p>
            <div class="quantity-stepper">
              <button class="btn btn-primary cart-btn" (click)="increase(product.id)">+</button>
              <p class="card-text" style="margin: 1rem;">{{product.quantity}}</p>
              <button class="btn btn-primary cart-btn" (click)="decrease(product.id)">-</button>
            </div>
            <button class="btn btn-primary cart-btn" (click)="remove(product.id)">{{ 'CART.REMOVE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </ul>


