.search {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.product-card {
    width: 16rem; 
    cursor: pointer;
    margin: 0.5rem;
    padding: 1rem;
}

.category-product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}